#cssStyle {
background-color: rgb(24,20,37,255);
font:rgb(255,255,255,255);
border: 0px solid black;
color: white;
padding: 10px;

font-size: 54px;

border-radius: 24px;



    border-color: rgb(24,20,37,255);
    outline: none; 


}