html , body , canvas, #mm{
	color: #fff;
	font-family: 'Mali', sans-serif;
	margin: 0;
	padding: 0;
	height : 100%;
	width: 100%;
	overflow:hidden;
}
img, svg{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
canvas{
	position: absolute;
	top:0;
	left:0;
}
#mm, #sc, #ec{
	display:flex;
	flex-direction: column;
	justify-content: center;
}
#ec{
	flex-direction: column;
	align-items: center;
	height:100%;
	justify-content: flex-end;
}
#sc input, #sc button{
	font-family: 'Mali', sans-serif;
    text-align: center;
    width: 100%;
    margin: 2px auto;
	border-style: unset;
	background: #ffffff00;
	padding: 0;
	font-size:24px;
	z-index: 1;
	text-transform:uppercase;
	-webkit-user-drag: none;
}

#mm, #sh, #as{
	transition: transform 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	will-change: transform;
	transform: translate3d(0,0,0);
}

input:focus {
    outline: none;
}
*{
	user-select:none;
	outline: none;
}

#mm{
	position: absolute;
	z-index: 1;
}
#sc, #ec{
	margin:auto;
	display:none;
	width:100%;
}
#cls{
	transform:translate(-50%, 80%);
	display:flex;
}
#clsH{
	transform:translate(-50%, 180%);
	display:flex;
}
#cls > *, #clsH > *{
	margin:0px 2px;
}

.ic::after{
	position: absolute;
    display: block;
    content: "";
	background: transparent url(./assets/p.svg) no-repeat;
	width: 32px;
    height: 32px;
	transform: translate(5px, 5px);
	top: 0;
	pointer-events: none;
}
.ic.rf::after{
	background: center / contain transparent url(./assets/rf.svg) no-repeat !important;
    transform: translate(7px, 5px) !important;
}
.ic.cl::after{
	transform: translate(5px, 5px) rotate(45deg)  !important;
}

.tgl {
    cursor: pointer;
	display: inline-block;
	margin-bottom: 5px;
}
.tgl-cb {
    position: absolute;
    visibility: hidden;
}
.tgl-cb:checked + .tgl-sw {
    background: #70AD75;
}
.tgl-sw {
    display: inline-block;
    background: #CCC0B7;
    border-radius: 16px;
    width: 52px;
    height: 26px;
    position: relative;
    vertical-align: middle;
	transition: background 0.25s;
	border: 2px solid #382C2A;
}
.tgl-sw:before, .tgl-sw:after {
    content: "";
}
.tgl-cb:checked + .tgl-sw:before {
    left: 26px;
}
.tgl-sw:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;

    width: 26px;
    height: 26px;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: left 0.25s;
}
#st{
	position:absolute;
	top:50px;
	left:0;
	z-index: 10;
	background: #FFF0E5;
    padding: 5px;
    color: #382C2A;
	border: 2px solid #382C2A;
	display:grid;
	font-size: 20px;
	line-height: 34px;
	margin: 10px;
	transition: transform 0.2s ease-in;
}
#st.cl{
	transform:translate(-150%, 0);
}
#st > a{
	color:#8698CC;
}

@keyframes hb {
	0%,to { transform: translate(-50%, -50%) scale3d(1,1,1)}
    9% { transform: translate(-50%, -50%) scale3d(.75,1.25,1)}
    12% { transform: translate(-50%, -50%) scale3d(1.25,.75,1)}
    15% { transform: translate(-50%, -50%) scale3d(.85,1.15,1)}
    20% { transform: translate(-50%, -50%) scale3d(1.05,.95,1)}
    23% { transform: translate(-50%, -50%) scale3d(.95,1.05,1)}
}
#lg{
    width: 50vw;
	top: 24%;
	min-width: 280px;
	max-width: 400px;
}
#lg > img{
	width:100%;
	position: unset;
}
#lgp{
	transform:scale(0.9);
	margin-top: -30px;
}
#pl, #pl2, #rs, #rv, #rh, #ppl{
	top:85%;
	width:80px;
	animation: 3.5s ease-in-out 0s infinite normal both running hb;
}
#pl2{
	transform:translate(100px, 50%);
	margin-left: -100px;
	width: 44px;
	animation: 3.5s ease-in-out 0.5s infinite normal both running hb;
}
#rs, #rv{
	margin-left: 80px;
	position:unset;
}

@keyframes sprite {
	to { background-position: -3450px; }
}

#rh > .bg{
	width: 100%;
	position: static;
	animation: sprite 1.2s steps(6) infinite;
}
#rh .uhi{
	top:30%;
}
#rh {
	animation: none;
	position: absolute;
	top: 100px;
    right: 15px;

}
@media (orientation: portrait) {
	#rh {
		top: 32.5%;
		left: 50%;
		transform: translateX(-50%) scale(0.8);
	}
}



#ppl{
	top:70%;
	width:120px;
}


#rs, #rv, #rh{
	pointer-events: all
}

#rv.dis{
	pointer-events: none;
	filter: grayscale(1) brightness(0.5);
}

img{
	pointer-events: none;
	position:absolute;
}
.bu{
	cursor: pointer;
}
.bu:hover{
	filter:brightness(0.95);
}
.bu:active{
	filter:brightness(0.6);
}
.ab{
	position:absolute;
    top:50%;
	left:50%;
    transform:translate(-50%, -50%);
}
.rl{
	position:relative;
}
#bl{
	top:70%;
	left:50%;
	position: absolute;
	display:flex;
	align-items: center;
	transform:translate(-50%, -50%);
}
#bl > div{
	margin:2px;
}
#lb{
	font-size:10px;
	position:absolute;
	top:0;
	right:0;
	width:160px;
	text-shadow: -1px -1px 0 #382C2A, 1px -1px 0 #382C2A, -1px 1px 0 #382C2A, 1px 1px 0 #382C2A;
}
#lb > div{
	display: flex;
}
#lb span {
	min-width:16px;
	white-space: nowrap;
	text-overflow: ellipsis;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
			user-select: none; /* Non-prefixed version, currently*/
	margin-right:5px;
}
/* #lb *{
	overflow:visible
} */
#sh,#as{
	width: 100%;
	height: 100%;
	position: absolute;
	display:none;
	top: 0;
	justify-content: center;
	align-items: center;
	z-index: 10;
	transform: translate3d(100%,0,0);
}
#gr{
    width: 60%;
    height: 75%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, 160px);
    grid-auto-rows: 160px;
    justify-content: center;
    overflow-y: scroll;
}
.it{
	width:100%;
	height:100%;
	background:#FFF0E5;
	color:#382C2A;
	display: flex;
    justify-content: center;
	align-items: center;
	border: 3px solid #382C2A;
	border-radius: 10px;
	position:relative;
}
.it.ac{
	background:rgb(224, 254, 205);
}

.lo{
    transform: translate(-50%, 40px);
    font-size: 24px;
    color: #382C2A;
    outline: 2px solid #382C2A;
    background-color: white;
    padding: 0px 5px;
}

#ht, #ac{
	z-index:2;
}
.asl{
	width:50%;
	min-width:300px;
}
.asl > .asi {
    background: #FFF0E5;
    color: #382C2A;
    border: 2px solid #382C2A;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFF0E5;
	height: 48px;
	margin:5px;
	min-width: 300px;
}
.asl > .asi.clm{
	cursor:pointer;
	/* box-shadow:2px 2px #FFE695; */
	filter:unset;
	animation: 4s linear 0s infinite normal none running slowshake;
}
.asl > .asi.clm:hover{
	filter:brightness(0.8);
}
.nt{
	background: #FFE695;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    font-family: sans-serif;
    font-size: 12px;
    border: 1px solid #382C2A;
    color: #382C2A;
    position: absolute;
    top: -4px;
    right: -4px;
}
.nt.inc{
	left: 58%;
    top: 58%;
    background: rgb(195, 229, 202);
}
#stb{
	width: 40px;
    z-index: 10;
    transform: none;
    top: 0;
    left: 0;
    left: unset;
	margin: 5px;
	pointer-events: all;
}
@keyframes hardshake{
	2% {
		transform: translate(7px, -4px) rotate(-.5deg);
	}
	4% {
		transform: translate(3px, 7px) rotate(2.5deg);
	}
	6% {
		transform: translate(3px, 8px) rotate(.5deg);
	}
	8% {
		transform: translate(-7px, 4px) rotate(1.5deg);
	}
	10% {
		transform: translate(6px, 10px) rotate(-.5deg);
	}
	12% {
		transform: translate(4px, 2px) rotate(-.5deg);
	}
	14% {
		transform: translate(-4px, 6px) rotate(3.5deg);
	}
	16% {
		transform: translate(1px, 5px) rotate(-1.5deg);
	}
	18% {
		transform: translate(3px, -7px) rotate(-2.5deg);
	}
	20% {
		transform: translate(-8px, -7px) rotate(.5deg);
	}
	22% {
		transform: translate(3px, -2px) rotate(-2.5deg);
	}
	24% {
		transform: translate(5px, -4px) rotate(1.5deg);
	}
	26% {
		transform: translate(-6px, -4px) rotate(-.5deg);
	}
	28% {
		transform: translate(1px, 0px) rotate(.5deg);
	}
	30% {
		transform: translate(-9px, -3px) rotate(3.5deg);
	}
	32% {
		transform: translate(3px, 6px) rotate(-1.5deg);
	}
	34% {
		transform: translate(-2px, -3px) rotate(-1.5deg);
	}
	36% {
		transform: translate(9px, -3px) rotate(-.5deg);
	}
	38% {
		transform: translate(9px, -9px) rotate(-1.5deg);
	}
	40% {
		transform: translate(8px, -7px) rotate(-2.5deg);
	}
	42% {
		transform: translate(-8px, -2px) rotate(2.5deg);
	}
	44% {
		transform: translate(-7px, 2px) rotate(-.5deg);
	}
	46% {
		transform: translate(-1px, 4px) rotate(3.5deg);
	}
	48% {
		transform: translate(3px, 1px) rotate(1.5deg);
	}
	50% {
		transform: translate(9px, -1px) rotate(2.5deg);
	}
	52% {
		transform: translate(-1px, 5px) rotate(-2.5deg);
	}
	54% {
		transform: translate(9px, -2px) rotate(.5deg);
	}
	56% {
		transform: translate(5px, -4px) rotate(-2.5deg);
	}
	58% {
		transform: translate(5px, -8px) rotate(-1.5deg);
	}
	60% {
		transform: translate(10px, 4px) rotate(1.5deg);
	}
	62% {
		transform: translate(-8px, 1px) rotate(-2.5deg);
	}
	64% {
		transform: translate(-9px, 6px) rotate(-1.5deg);
	}
	66% {
		transform: translate(-3px, 2px) rotate(.5deg);
	}
	68% {
		transform: translate(10px, 4px) rotate(.5deg);
	}
	70% {
		transform: translate(3px, -4px) rotate(-2.5deg);
	}
	72% {
		transform: translate(-5px, 10px) rotate(.5deg);
	}
	74% {
		transform: translate(1px, -7px) rotate(3.5deg);
	}
	76% {
		transform: translate(8px, -3px) rotate(-2.5deg);
	}
	78% {
		transform: translate(-8px, 2px) rotate(-.5deg);
	}
	80% {
		transform: translate(2px, 7px) rotate(-2.5deg);
	}
	82% {
		transform: translate(6px, -4px) rotate(1.5deg);
	}
	84% {
		transform: translate(3px, 2px) rotate(3.5deg);
	}
	86% {
		transform: translate(0px, -5px) rotate(-2.5deg);
	}
	88% {
		transform: translate(1px, -3px) rotate(2.5deg);
	}
	90% {
		transform: translate(-8px, -9px) rotate(2.5deg);
	}
	92% {
		transform: translate(-2px, 3px) rotate(2.5deg);
	}
	94% {
		transform: translate(-6px, 0px) rotate(-.5deg);
	}
	96% {
		transform: translate(-9px, 8px) rotate(1.5deg);
	}

	98% {
		transform: translate(9px, 4px) rotate(-1.5deg);
	}
	0%, 100% {
		transform: translate(0, 0) rotate(0);
	}
}
@keyframes slowshake{
	2% {
		transform: translate(1.5px, -1.5px) rotate(-.5deg);
	}
	
	4% {
		transform: translate(-1.5px, -.5px) rotate(1.5deg);
	}
	6% {
		transform: translate(1.5px, 2.5px) rotate(-.5deg);
	}
	8% {
		transform: translate(2.5px, .5px) rotate(-.5deg);
	}
	10% {
		transform: translate(2.5px, -.5px) rotate(-.5deg);
	}
	12% {
		transform: translate(-.5px, 1.5px) rotate(1.5deg);
	}
	14% {
		transform: translate(2.5px, -.5px) rotate(1.5deg);
	}
	16% {
		transform: translate(.5px, -1.5px) rotate(.5deg);
	}
	18% {
		transform: translate(2.5px, 2.5px) rotate(-.5deg);
	}
	20% {
		transform: translate(1.5px, -.5px) rotate(1.5deg);
	}
	22% {
		transform: translate(-.5px, 1.5px) rotate(.5deg);
	}
	24% {
		transform: translate(-1.5px, 1.5px) rotate(.5deg);
	}
	26% {
		transform: translate(2.5px, .5px) rotate(1.5deg);
	}
	28% {
		transform: translate(-.5px, -.5px) rotate(.5deg);
	}
	30% {
		transform: translate(.5px, -.5px) rotate(.5deg);
	}
	32% {
		transform: translate(1.5px, -.5px) rotate(1.5deg);
	}
	34% {
		transform: translate(1.5px, .5px) rotate(-.5deg);
	}
	36% {
		transform: translate(.5px, 2.5px) rotate(.5deg);
	}
	38% {
		transform: translate(-1.5px, -.5px) rotate(.5deg);
	}
	40% {
		transform: translate(.5px, -.5px) rotate(.5deg);
	}
	42% {
		transform: translate(.5px, -.5px) rotate(1.5deg);
	}
	44% {
		transform: translate(-1.5px, .5px) rotate(1.5deg);
	}
	46% {
		transform: translate(-1.5px, -.5px) rotate(-.5deg);
	}
	48% {
		transform: translate(-1.5px, -.5px) rotate(-.5deg);
	}
	50% {
		transform: translate(-.5px, -.5px) rotate(.5deg);
	}
	52% {
		transform: translate(-1.5px, .5px) rotate(1.5deg);
	}
	54% {
		transform: translate(2.5px, .5px) rotate(-.5deg);
	}
	56% {
		transform: translate(1.5px, 2.5px) rotate(1.5deg);
	}
	58% {
		transform: translate(.5px, 1.5px) rotate(1.5deg);
	}
	60% {
		transform: translate(-1.5px, -1.5px) rotate(1.5deg);
	}
	62% {
		transform: translate(.5px, 1.5px) rotate(-.5deg);
	}
	64% {
		transform: translate(1.5px, 2.5px) rotate(1.5deg);
	}
	66% {
		transform: translate(1.5px, -.5px) rotate(1.5deg);
	}
	68% {
		transform: translate(-1.5px, 1.5px) rotate(.5deg);
	}
	70% {
		transform: translate(.5px, .5px) rotate(-.5deg);
	}
	72% {
		transform: translate(-.5px, -.5px) rotate(.5deg);
	}
	74% {
		transform: translate(.5px, -1.5px) rotate(.5deg);
	}
	76% {
		transform: translate(-.5px, 1.5px) rotate(.5deg);
	}
	78% {
		transform: translate(1.5px, -1.5px) rotate(-.5deg);
	}
	80% {
		transform: translate(-1.5px, -.5px) rotate(.5deg);
	}
	82% {
		transform: translate(.5px, -.5px) rotate(.5deg);
	}
	84% {
		transform: translate(2.5px, 2.5px) rotate(1.5deg);
	}
	86% {
		transform: translate(2.5px, -.5px) rotate(1.5deg);
	}
	88% {
		transform: translate(.5px, .5px) rotate(-.5deg);
	}
	90% {
		transform: translate(-.5px, -1.5px) rotate(-.5deg);
	}
	92% {
		transform: translate(2.5px, 1.5px) rotate(-.5deg);
	}
	94% {
		transform: translate(2.5px, -1.5px) rotate(-.5deg);
	}
	96% {
		transform: translate(2.5px, 2.5px) rotate(.5deg);
	}
	98% {
		transform: translate(2.5px, -.5px) rotate(.5deg);
	}
	0%, 100% {
		transform: translate(0, 0) rotate(0);
	}u
}

.open{
	animation: a-open 1.5s linear 1 forwards;
}
.open-i{
	animation: a-open-i 1.5s linear 1 forwards;
}

@keyframes a-open{
	0%{
		transform:rotate3d(0,0,1, 0deg) translate(0px, 0px);
		opacity:1;
	}
	80%{
		transform:rotate3d(0,0,1, 0deg) translate(0px, -2px);
		opacity:1;
	}
	100%{
		transform:rotate3d(0,0,1, 40deg) translate(0px, -200px);
		opacity:0;

	}
}
@keyframes a-open-i{
	0%{
		transform:rotate3d(0,0,1, 0deg) translate(0px, 0px);
		opacity:1;

	}
	80%{
		transform:rotate3d(0,0,1, 0deg) translate(0px, 2px);
		opacity:1;
	}
	100%{
		transform:rotate3d(0,0,1, 40deg) translate(0px, 200px);
		opacity:0;

	}
}

textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@media screen and (max-height: 500px) {
	#ppl{
		width:60px;
		top:80%;
	}
	#pl, #rs, #ppl, #rv, #rh {
		width:60px;
	}
	#sp{
		width:60px;
		top:60%;
	}
	#lg{
		width: 40vw;
		min-width: 200px;
		top: 22%;
	}
	#bl {
		top: unset;
		bottom: 0px;
		left: 80%;
	}
	.asl{
		max-height:70%;
		margin-top:-40px;
		overflow:scroll;
	}
	#gr{
		margin-top:-40px;
	}
  }

button,
select,
div,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.spb {
	position: absolute;
	background: #FFF0E5;
	border-radius: .4em;
	color: black;
	padding: 10px;
	font-size: 14px;
	box-shadow: 0 8px 6px -6px black;
	text-align: center;
}
.spb:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #382C2A;
    border-bottom: 0;
    margin-left: -20px;
    margin-bottom: -20px;
}
.vv{
	position:absolute;
	top:100%;
	left:5px;
	color:#382C2A;
	transform: translate(0%, -34px);
	background:#FFF0E500;
	padding:10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	max-width:60%;
	transition: transform 0.5s ease-in, background-color 0.3s ease-in 0.3s;
	pointer-events: none;
	max-height:60%;
	overflow:hidden;
}

.vv:hover{
	transform: translate(0%, -100%);
	background:#FFF;
	pointer-events: all;
}
.vv > .if{
	cursor:pointer;
	pointer-events: all;
	width:100px;
}
#cl{
	position:absolute;
	top: 5px;
	left: 50px;
}
#cl > img{
	pointer-events: all;
}

@font-face {
	font-family: 'Mali';
	font-style: normal;
	font-weight: 400;
	src: url(./assets/font.woff2) format('woff2');
}

