canvas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

body, html {
    height: 100%;
    margin: 0;
    background-image: url('../../dist/assets/load/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#preloadDiv {
    display:inline-block;
    z-index: 100;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.preloadBG {
    width: 100%;
    height: 100%;
}

.logo {
    position:absolute;
    top: 16%;
    left: 50%;
    width: 56%;
    margin: 0 0 0 -28%;
}

.rotate {
    position: absolute;
    top: 77%;
    left: 50%;
    width: 7%;
    margin:-5% 0 0 -5%;
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}

@font-face {
    font-family: bloggerSans;
    src: url('../../dist/assets/fonts/Blogger_Sans.otf');
    font-weight:400;
    font-weight:normal;
  }
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }